.app-container {
  background-color: #f8f9fa; /* Light gray background */
  min-height: 100vh; /* Minimum height of viewport */
}

.title-container {
  padding: 20px 0;
  border-bottom: 1px solid #ced4da; /* Horizontal line */
}

.toggle-form-container {
  padding: 20px 0;
}

.content-container {
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
  max-height: 0;
  padding: 0 20px;
}

.content-container.show-form {
  max-height: 1000px;
  padding: 20px;
}

.content-container.show-form.transitioning {
  transition-duration: max-height 0.3s ease-in-out, padding 0s ease-in-out; /* No transition for padding */
}

.add-book-form-container {
  background-color: #ffffff; /* White background */
  padding: 20px;
  border: 1px solid #ced4da; /* Border color */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow */
  margin-bottom: 20px; /* Spacing at the bottom */
}

/* Override default input width */
.add-book-form-container input[type="text"],
.add-book-form-container input[type="number"] {
  width: 100%; /* Full width for text and number inputs */
}

/* Adjust margin for form group elements */
.add-book-form-container .form-group {
  margin-bottom: 20px; /* Spacing between form groups */
}

/* Style submit button */
.add-book-form-container button[type="submit"] {
  width: 100%; /* Full width */
}

.row {
  margin-bottom: 20px; /* Or adjust the value as needed */
}