.app-container {
  background-color: #f8f9fa; 
  min-height: 100vh;
}

.title-container {
  padding: 20px 0;
  border-bottom: 1px solid #ced4da;
}

.toggle-form-container {
  padding: 20px 0;
}

.content-container {
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
  max-height: 0;
  padding: 0 20px;
}

.content-container.show-form {
  max-height: 1000px;
  padding: 20px;
}

.content-container.show-form.transitioning {
  transition-duration: max-height 0.3s ease-in-out, padding 0s ease-in-out;
}

.add-book-form-container {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #ced4da;
  border-radius: 5px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  margin-bottom: 20px;
}

.add-book-form-container input[type="text"],
.add-book-form-container input[type="number"] {
  width: 100%;
}

.add-book-form-container .form-group {
  margin-bottom: 20px;
}

.add-book-form-container button[type="submit"] {
  width: 100%;
}

.row {
  margin-bottom: 20px;
}